@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-bg: hsla(178, 100%, 50%, 0.432);

  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --white: hsl(0, 0%, 100%);

  --outfit: "Outfit", sans-serif;
  --size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--outfit);
}

body {
  background-color: var(--very-dark-blue-main-BG);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  height: 540px;
  background-color: var(--very-dark-blue-card-BG);
  border-radius: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card__picture::before {
  content: url(./images/icon-view.svg);
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cyan-bg);
  transform: translate(100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__picture:hover::before {
  transform: translate(0);
}

.card__title {
  color: var(--white);
  font-size: 22px;
  font-weight: 500;
  margin: 1rem 0;
}

.card__title:hover {
  color: var(--cyan);
}

.card__paragraph {
  color: var(--soft-blue);
  font-weight: 200;
}

.card__properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.propertie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.propertie__cripto {
  color: var(--cyan);
  font-weight: 500;
}

.card__line {
  background-color: var(--soft-blue);
  width: 100%;
  height: 1.3px;
  opacity: 20%;
}

.card__user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.card__avatar {
  width: 40px;
  border-radius: 50%;
  border: solid white 1px;
}

.card__name {
  color: var(--white);
}

.card__name:hover {
  color: var(--cyan);
}
